<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <tr>
        
        <th><h5>ようこそ、ながのCAKEへ!</h5></th>
        <th><h5>このサイトは、ケーキ販売のECサイトになります。</h5></th>
        <th><h5>会員でない方も商品の閲覧はできますが、</h5></th>
        <th><h5>購入には会員登録が必要になります。</h5></th>
        <div class="d-grid gap-2">
          
        <h2>新着商品</h2>

          <h5><%#= items.name %></h5>
          <h5><%#= items.name %></h5>
        
      </tr>
    </div>
  </div>